
body {
  background-color: $dark;
  color: $white;
  font-family: 'Arial', sans-serif; 
}
header {
    height: 900px; 
  
    @media (max-width: 767px) { 
      height: 400px; 
    }
  }
hr {
    border-color: $white;

  }
section {
  padding: 2rem; 
}
h2 {
    color: $white;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
// Reglas responsivas 
@media (min-width: 992px) { 
  section {
    padding: 4rem;
  }
}
