#destacados {
    h5 {
      color: $white;
      text-align: center;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  
    hr {
      border-color: $white;
      
    }
  
    .row {
      margin-bottom: 1rem;
    }
  }
  